@import url("https://fonts.googleapis.com/css?family=Roboto:400");

* { box-sizing: border-box; margin: 0px; padding: 0px; outline: none;}
html { height: 100%;}
body { height: 100%; font-size: 0px; font-family: "Roboto";}
input { font-family: "Roboto";}
h1, h2, h3, h4, h5, h6 { font-weight: 400;}
a { text-decoration: none;}

#main { display: flex; width: 100%; height: 100%; border: 3px solid #c55; background-color: #111;}
	#fullscreen_btn { display: block; min-width: 200px; height: 40px; margin: auto; border: 1px solid #222; background-color: #333; color: #fff;}
